<a href="#" class="js-gtco-nav-toggle gtco-nav-toggle"><i></i></a>

<div id="gtco-offcanvas">
  <ul><a href="#">
  </a>
    <li routerLink="/features/home" routerLinkActive="active"><a href="javascript:void(0);">Home</a></li>
    <li routerLink="/features/about" routerLinkActive="active"><a href="javascript:void(0);">About</a></li>
    <li routerLink="/features/portfolio" routerLinkActive="active"><a href="javascript:void(0);">Portfolio</a></li>
    <li routerLink="/features/contact" routerLinkActive="active"><a href="javascript:void(0);">Contact</a></li>
  </ul>
</div>

<nav class="gtco-nav" role="navigation">
  <div class="gtco-container">

    <div class="row">
      <div class="col-sm-2 col-xs-12">
        <div id="gtco-logo"><a href="#">Beryllium</a></div>
      </div>
      <div class="col-xs-10 text-right menu-1">
        <ul>
          <li routerLink="/features/home" routerLinkActive="active"><a href="javascript:void(0);">Home</a></li>
          <li routerLink="/features/about" routerLinkActive="active"><a href="javascript:void(0);">About</a></li>
          <li routerLink="/features/portfolio" routerLinkActive="active"><a href="javascript:void(0);">Portfolio</a>
          </li>
          <li routerLink="/features/contact" routerLinkActive="active"><a href="javascript:void(0);">Contact</a></li>
        </ul>
      </div>
    </div>

  </div>
</nav>
